body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
.text-primary {
  color: #78C249 !important;
}
p {
  line-height: 1.75;
}
a {
  color: #78C249;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #60a236;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary {
  color: white;
  background-color: #78C249;
  border-color: #78C249;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #60a236;
  border-color: #5b9a34;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #78C249;
  border-color: #78C249;
}
.btn-primary .badge {
  color: #78C249;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #78C249;
  border-color: #78C249;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.btn-xl:active:focus,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #60a236;
  border-color: #5b9a34;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #78C249;
  border-color: #78C249;
}
.btn-xl .badge {
  color: #78C249;
  background-color: white;
}
.btn-xl-success {
  color: white;
  background-color: #C4CC4E;
  border-color: #C4CC4E;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl-success:hover,
.btn-xl-success:focus,
.btn-xl-success:active,
.btn-xl-success.active,
.btn-xl-success:active:focus,
.open .dropdown-toggle.btn-xl-success {
  color: white;
  background-color: #abb334;
  border-color: #a4ab31;
}
.btn-xl-success:active,
.btn-xl-success.active,
.open .dropdown-toggle.btn-xl-success {
  background-image: none;
}
.btn-xl-success.disabled,
.btn-xl-success[disabled],
fieldset[disabled] .btn-xl-success,
.btn-xl-success.disabled:hover,
.btn-xl-success[disabled]:hover,
fieldset[disabled] .btn-xl-success:hover,
.btn-xl-success.disabled:focus,
.btn-xl-success[disabled]:focus,
fieldset[disabled] .btn-xl-success:focus,
.btn-xl-success.disabled:active,
.btn-xl-success[disabled]:active,
fieldset[disabled] .btn-xl-success:active,
.btn-xl-success.disabled.active,
.btn-xl-success[disabled].active,
fieldset[disabled] .btn-xl-success.active {
  background-color: #C4CC4E;
  border-color: #C4CC4E;
}
.btn-xl-success .badge {
  color: #C4CC4E;
  background-color: white;
}
.btn-xl-danger {
  color: white;
  background-color: #C24949;
  border-color: #C24949;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl-danger:hover,
.btn-xl-danger:focus,
.btn-xl-danger:active,
.btn-xl-danger.active,
.btn-xl-danger:active:focus,
.open .dropdown-toggle.btn-xl-danger {
  color: white;
  background-color: #a23636;
  border-color: #9a3434;
}
.btn-xl-danger:active,
.btn-xl-danger.active,
.open .dropdown-toggle.btn-xl-danger {
  background-image: none;
}
.btn-xl-danger.disabled,
.btn-xl-danger[disabled],
fieldset[disabled] .btn-xl-danger,
.btn-xl-danger.disabled:hover,
.btn-xl-danger[disabled]:hover,
fieldset[disabled] .btn-xl-danger:hover,
.btn-xl-danger.disabled:focus,
.btn-xl-danger[disabled]:focus,
fieldset[disabled] .btn-xl-danger:focus,
.btn-xl-danger.disabled:active,
.btn-xl-danger[disabled]:active,
fieldset[disabled] .btn-xl-danger:active,
.btn-xl-danger.disabled.active,
.btn-xl-danger[disabled].active,
fieldset[disabled] .btn-xl-danger.active {
  background-color: #C24949;
  border-color: #C24949;
}
.btn-xl-danger .badge {
  color: #C24949;
  background-color: white;
}
.btn-xl-info {
  color: white;
  background-color: #732D75;
  border-color: #732D75;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl-info:hover,
.btn-xl-info:focus,
.btn-xl-info:active,
.btn-xl-info.active,
.btn-xl-info:active:focus,
.open .dropdown-toggle.btn-xl-info {
  color: white;
  background-color: #4f1f50;
  border-color: #481c49;
}
.btn-xl-info:active,
.btn-xl-info.active,
.open .dropdown-toggle.btn-xl-info {
  background-image: none;
}
.btn-xl-info.disabled,
.btn-xl-info[disabled],
fieldset[disabled] .btn-xl-info,
.btn-xl-info.disabled:hover,
.btn-xl-info[disabled]:hover,
fieldset[disabled] .btn-xl-info:hover,
.btn-xl-info.disabled:focus,
.btn-xl-info[disabled]:focus,
fieldset[disabled] .btn-xl-info:focus,
.btn-xl-info.disabled:active,
.btn-xl-info[disabled]:active,
fieldset[disabled] .btn-xl-info:active,
.btn-xl-info.disabled.active,
.btn-xl-info[disabled].active,
fieldset[disabled] .btn-xl-info.active {
  background-color: #732D75;
  border-color: #732D75;
}
.btn-xl-info .badge {
  color: #732D75;
  background-color: white;
}
.btn-xl-warning {
  color: white;
  background-color: #FFB861;
  border-color: #FFB861;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl-warning:hover,
.btn-xl-warning:focus,
.btn-xl-warning:active,
.btn-xl-warning.active,
.btn-xl-warning:active:focus,
.open .dropdown-toggle.btn-xl-warning {
  color: white;
  background-color: #ffa12e;
  border-color: #ff9c24;
}
.btn-xl-warning:active,
.btn-xl-warning.active,
.open .dropdown-toggle.btn-xl-warning {
  background-image: none;
}
.btn-xl-warning.disabled,
.btn-xl-warning[disabled],
fieldset[disabled] .btn-xl-warning,
.btn-xl-warning.disabled:hover,
.btn-xl-warning[disabled]:hover,
fieldset[disabled] .btn-xl-warning:hover,
.btn-xl-warning.disabled:focus,
.btn-xl-warning[disabled]:focus,
fieldset[disabled] .btn-xl-warning:focus,
.btn-xl-warning.disabled:active,
.btn-xl-warning[disabled]:active,
fieldset[disabled] .btn-xl-warning:active,
.btn-xl-warning.disabled.active,
.btn-xl-warning[disabled].active,
fieldset[disabled] .btn-xl-warning.active {
  background-color: #FFB861;
  border-color: #FFB861;
}
.btn-xl-warning .badge {
  color: #FFB861;
  background-color: white;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #FFB861;
}
.navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
#mainNav {
  background-color: #78C249;
  min-height: 50px;
  border: none;
}
#mainNav .navbar-toggler {
  border: 0;
  color: white;
  background-color: #78C249;
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  padding: 13px;
  right: 0;
}
#mainNav .container {
  padding: 0;
}
#mainNav .container .navbar-brand {
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
}
#mainNav .container .navbar-brand:hover,
#mainNav .container .navbar-brand:focus,
#mainNav .container .navbar-brand:active,
#mainNav .container .navbar-brand.active {
  color: #60a236;
}
#mainNav .container .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  padding: 0.75em 0;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
#mainNav .container .navbar-nav .nav-item .nav-link:hover,
#mainNav .container .navbar-nav .nav-item .nav-link.active {
  color: #78C249;
}
@media (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    background-color: #60a236;
    background-repeat: repeat-x;
    padding: 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    padding: 12px 0;
    font-size: 1.25em;
  }
  header {
    height: 100vh;
  }
}
header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header {
    height: auto;
  }
  header .intro-text {
    padding-top: 320px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 70px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  padding: 30px;
  font-size: 1em;
  text-align: justify;
  top: 5%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-link img {
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
#portfolio .portfolio-item:nth-child(even) .portfolio-link .portfolio-hover {
  background: rgba(120, 194, 73, 0.9);
}
#portfolio .portfolio-item:nth-child(odd) .portfolio-link .portfolio-hover {
  background: rgba(255, 184, 97, 0.9);
}
.plus-center .portfolio-hover-content > .plus {
  margin-top: 45%;
  text-align: center;
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #78C249;
  color: white;
  border-radius: 100%;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.clients img {
  margin: 50px auto;
}
section#contact {
  background-color: #732D75;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  font-size: 90%;
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #888888;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #78C249;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: 100vw;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #888888;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #888888;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #FFB861;
}
::selection {
  text-shadow: none;
  background: #FFB861;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #FFB861;
}
.header-logo {
  top: 20vh;
  height: 80vh;
  position: relative;
  padding: 20px;
}
.logo-contato {
  width: 100%;
}
.logo-specialita {
  max-height: 120px;
}
.bg-darkest-gray {
  background-color: #dddddd;
}
.bg-light-gray {
  background-color: #ffffff;
}
#hospedagem {
  padding-bottom: 0px;
}
.brand {
  max-height: 30px;
}
.text-primary {
  color: #78C249;
}
.text-warning {
  color: #FFB861;
}
.text-info {
  color: #732D75;
}
.text-danger {
  color: #C24949;
}
.img-sponsor-sm {
  height: 80px;
}
.text-header {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.small-counter {
  font-size: small;
}
p {
  text-indent: 30px;
}
.sign {
  max-height: 45px;
}
.img-people {
  border-radius: 0px;
}
.bg-local {
  /* The image used */
  background-image: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=1200%C3%97600&w=1200&h=600");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.bg-inscricoes {
  /* The image used */
  background-image: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=1200%C3%97600&w=1200&h=600");
  /* Create the parallax scrolling effect */
  min-height: 300px;
  margin-top: 60px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.bg-feira {
  background-image: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=1200%C3%97600&w=1200&h=600");
  /* Create the parallax scrolling effect */
  min-height: 300px;
  margin-top: 60px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #78C249;
  font-size: large;
  font-weight: bold;
}
.bg-contact {
  background-image: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=1200%C3%97600&w=1200&h=600");
  /* Create the parallax scrolling effect */
  min-height: 300px;
  margin-top: 60px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #78C249;
  font-size: large;
  font-weight: bold;
}
.nobr {
  white-space: nowrap;
}
#inscricoes table {
  font-size: 1.5em;
}
.min-height > .col-md-4 {
  min-height: 300px;
}
textarea.form-control {
  min-height: 130px;
}
.alert-success {
  color: #ffffff;
  background-color: #78C249;
  border-color: #60a236;
}
.panel-cearo {
  background-color: #78C249;
}
.panel-cearo > a,
.panel-cearo a:hover {
  text-decoration: none;
  color: #fff;
}
.panel-cearo > a .panel-title,
.panel-cearo a:hover .panel-title {
  padding: 20px 1px;
}
.list-group-cearo .list-group-item {
  background-color: #60a236;
  color: #fff;
}
.text-secondary {
  color: #FFB861;
}
